@charset "UTF-8";

/* layout.css */

 body {
    font: 15px Montserrat, sans-serif;
    line-height: 1.8;
    background-color : white;
  }

  .selectbox {
    width: 200px; 
    padding: .8em .5em; 
    font-family: inherit;  
    border: 0;
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
  }
  
  select::-ms-expand {
          display: none;
  }
  
  p {font-size: 13px;}
  
  .margin {margin-bottom: 45px;}
  
  .navbar-default { background-color: #ffffff; }
  
  .bg-1 { 
    background-color:  #ffffff; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #ffffff; /* footer */
    color: #c3c3c3;
  }

  .underline {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  
 /*
  .underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 202px;
  }
  
   #bt {
	border:0;
	width:50%;
	margin-left: 50%;
	text-align: right;
 }
*/

 #bt {
	border:0;
	width:100%;
 }
 
 #bt1 {
	border:0;
	width:50%;
	margin-left: 50%;
	text-align: right;
 }

 .ud { 
	  display: inline-block;
	  color : #808080; 
	  font-size : 14px;
 }
 .ud:hover {
	  color: #555555;
	  text-decoration:none;
	  font-weight:bolder;
	  text-align: center;
 }
  #wbt {
  	background-color: #808080;
  	color : #ffffff;
  } 
  
  #wbt:hover {
  	background-color: #555555;
  	color : #ffffff;
  	font-weight : normal;
  }
  
  .container-fluid {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: black !important;
  }
  
  #clock {
    color: #000000;
    font-weight: lighter;
    font-size: medium;
    opacity: 0.6;
    padding-top: 2%;
  }
  
  .lith {
  	text-align : center;
  	font-size : medium;
  	color : gray;
  }
  
  .ti {
  	width: 250px;
  }
  
  a {
  	color : #555555;
  	text-decoration: none;
  }
  a:hover {
	color : #555555;
  	text-decoration: none;
  	font-weight : bolder;
  }
  
 .form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

 #frmtable {
 	border : 0px solid white;
 }
 
 
 
 
 
